.carddddd{
    max-width: 8000px !important;
    width: 777px;
    margin-right: -300px;
}

@media (max-width: 768px) {
    .carddddd {
        margin: 10px;
        width: 42vh !important;
    }

    .form-group {
        margin-bottom: 1rem;
        width: 20px !important;
    }
    .form-control {
        width: 100% !important;
    }

    .Buttonn {
        width: 100%;
    }
    .form-select {
        width: 319px !important;
    }
}
