/* navbar.css */
.navbarStyle {
  border-bottom: 5px solid #39A900;
  color: #39A900;
  margin-bottom: 0;
  width: 100%;

  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5 20px;
  padding-left: 15px;
}

.brandStyle {
  color: #39A900;
  padding-bottom: 80px;
}

.nav-items-container {
  display: flex;
  align-items: center;
  justify-content: flex-end !important;
}

.navItemStyle {
  margin-right: 20px;
  list-style: none;
}

.navLinkStyle {
  color: #39A900;
}

@media screen and (max-width: 768px) {
  .navbarStyle {
    color: #39A900;
    margin-bottom: 0;
    width: 139% !important;
    border-bottom: 5px solid #39A900;
    font-family: sans-serif;
  }

  .brandStyle {
    padding-left: 0;
    text-align: left;
    width: 220% !important;
  }

  .nav-items-container {
    flex-direction: row;
    justify-content: flex-end !important;
    width: 60% !important;
  }

  .navItemStyle {
    margin-right: 10px;
  }

  .navLinkStyle {
    padding: 5px 10px;
  }
  .justify-content-arround {
    justify-content: flex-end !important;
  }
  .w_100{
    width: 60% !important ;
  }

}

@media screen and (max-width: 600px) {
  .navbarStyle {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5px;
  }

  .brandStyle {
    text-align: left;
    width: auto;
  }

  .nav-items-container {
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
  }

  .navItemStyle {
    margin-right: 5px;
  }

  .navLinkStyle {
    padding: 5px;
    text-align: right;
  }
  .justify-content-arround {
    justify-content: flex-end !important;
  }
  .w_100{
    width: 60% !important ;
  }
}


.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: #39A900;
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
}
